body {
    margin:0px;
    background-image:url("../img/fond.jpg");
    background-attachment: fixed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display: grid;
    grid-gap: 20px;
}

h3 {
    justify-content: left;
}

.SAE_Categorie {
    border: solid 0px;
    padding: 5px;
    background-color: rgb(180, 56, 56);
    border-radius: 5px;
    width: fit-content;
    color: white;
}

.SAE_sous_Categorie {
    border: solid 0px;
    padding: 5px;
    background-color: rgb(180, 56, 56);
    border-radius: 5px;
    width: fit-content;
    color: white;
    margin: 6px;
}

